<!-- example from https://www.ampproject.org/docs/reference/components/amp-video -->
<head>
  <amp-boilerplate/>
</head>
<body>
  <amp-video controls width="640" height="360" layout="responsive" playsinline poster="images/kitten-playing.png">
    <source src="videos/kitten-playing.webm" type="video/webm"/>
    <source src="videos/kitten-playing.mp4" type="video/mp4"/>
    <div fallback>
      <p>This browser does not support the video element.</p>
    </div>
  </amp-video>
</body>
